<a href="https://colab.research.google.com/github/ASLManasa/MY_Ml/blob/main/DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
data = pd.read_csv('/content/Position_Salaries.csv')
data

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [4]:
data.isnull()

   Position  Level  Salary
0     False  False   False
1     False  False   False
2     False  False   False
3     False  False   False
4     False  False   False
5     False  False   False
6     False  False   False
7     False  False   False
8     False  False   False
9     False  False   False

In [5]:
x = data.iloc[:,1:-1]
#print(x)
y = data.iloc[:,-1]
#print(y)

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)

In [1]:
from sklearn.tree import DecisionTreeRegressor

In [8]:
classifier = DecisionTreeRegressor()  
classifier.fit(x_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [9]:
y_pred= classifier.predict(x_test)

In [10]:
y_pred = classifier.predict([[5.6]])
y_pred

array([150000.])