<a href="https://colab.research.google.com/github/ASLManasa/MY_Ml/blob/master/Logistic_Regression_Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Logistic regression is a statistical analysis method used to predict a data value based on prior observations of a data set. A logistic regression model predicts a dependent data variable by analyzing the relationship between one or more existing independent variables.

###importing Dependencies

In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

Reading the data

In [ ]:
data = pd.read_csv('/content/Social_Network_Ads.csv')
data.drop(columns=['User ID','Gender',],axis=1,inplace=True)
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [ ]:
data.tail()

     Age  EstimatedSalary  Purchased
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

In [ ]:
data.shape    ## shape of the dataset

(400, 3)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Purchased        400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [ ]:
data.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

In [ ]:
data.isnull().sum()      #to check i we have any null values

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

X is Age and Estimated Salary
Y is Purchased

In [ ]:
X = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

Dividing the dataset into Train and Test 75% and 25%

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

Standardization typically means rescales data to have a mean of 0 and a standard deviation of 1 (unit variance).

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
print(X_train)

[[ 0.58164944 -0.88670699]
 [-0.60673761  1.46173768]
 [-0.01254409 -0.5677824 ]
 [-0.60673761  1.89663484]
 [ 1.37390747 -1.40858358]
 [ 1.47293972  0.99784738]
 [ 0.08648817 -0.79972756]
 [-0.01254409 -0.24885782]
 [-0.21060859 -0.5677824 ]
 [-0.21060859 -0.19087153]
 [-0.30964085 -1.29261101]
 [-0.30964085 -0.5677824 ]
 [ 0.38358493  0.09905991]
 [ 0.8787462  -0.59677555]
 [ 2.06713324 -1.17663843]
 [ 1.07681071 -0.13288524]
 [ 0.68068169  1.78066227]
 [-0.70576986  0.56295021]
 [ 0.77971394  0.35999821]
 [ 0.8787462  -0.53878926]
 [-1.20093113 -1.58254245]
 [ 2.1661655   0.93986109]
 [-0.01254409  1.22979253]
 [ 0.18552042  1.08482681]
 [ 0.38358493 -0.48080297]
 [-0.30964085 -0.30684411]
 [ 0.97777845 -0.8287207 ]
 [ 0.97777845  1.8676417 ]
 [-0.01254409  1.25878567]
 [-0.90383437  2.27354572]
 [-1.20093113 -1.58254245]
 [ 2.1661655  -0.79972756]
 [-1.39899564 -1.46656987]
 [ 0.38358493  2.30253886]
 [ 0.77971394  0.76590222]
 [-1.00286662 -0.30684411]
 [ 0.08648817  0.76590222]
 [-1.00286662  0.56295021]
 [ 0.28455268  0.07006676]
 [ 0.68068169 -1.26361786]
 [-0.50770535 -0.01691267]
 [-1.79512465  0.35999821]
 [-0.70576986  0.12805305]
 [ 0.38358493  0.30201192]
 [-0.30964085  0.07006676]
 [-0.50770535  2.30253886]
 [ 0.18552042  0.04107362]
 [ 1.27487521  2.21555943]
 [ 0.77971394  0.27301877]
 [-0.30964085  0.1570462 ]
 [-0.01254409 -0.53878926]
 [-0.21060859  0.1570462 ]
 [-0.11157634  0.24402563]
 [-0.01254409 -0.24885782]
 [ 2.1661655   1.11381995]
 [-1.79512465  0.35999821]
 [ 1.86906873  0.12805305]
 [ 0.38358493 -0.13288524]
 [-1.20093113  0.30201192]
 [ 0.77971394  1.37475825]
 [-0.30964085 -0.24885782]
 [-1.6960924  -0.04590581]
 [-1.00286662 -0.74174127]
 [ 0.28455268  0.50496393]
 [-0.11157634 -1.06066585]
 [-1.10189888  0.59194336]
 [ 0.08648817 -0.79972756]
 [-1.00286662  1.54871711]
 [-0.70576986  1.40375139]
 [-1.29996338  0.50496393]
 [-0.30964085  0.04107362]
 [-0.11157634  0.01208048]
 [-0.30964085 -0.88670699]
 [ 0.8787462  -1.3505973 ]
 [-0.30964085  2.24455257]
 [ 0.97777845  1.98361427]
 [-1.20093113  0.47597078]
 [-1.29996338  0.27301877]
 [ 1.37390747  1.98361427]
 [ 1.27487521 -1.3505973 ]
 [-0.30964085 -0.27785096]
 [-0.50770535  1.25878567]
 [-0.80480212  1.08482681]
 [ 0.97777845 -1.06066585]
 [ 0.28455268  0.30201192]
 [ 0.97777845  0.76590222]
 [-0.70576986 -1.49556302]
 [-0.70576986  0.04107362]
 [ 0.48261718  1.72267598]
 [ 2.06713324  0.18603934]
 [-1.99318916 -0.74174127]
 [-0.21060859  1.40375139]
 [ 0.38358493  0.59194336]
 [ 0.8787462  -1.14764529]
 [-1.20093113 -0.77073441]
 [ 0.18552042  0.24402563]
 [ 0.77971394 -0.30684411]
 [ 2.06713324 -0.79972756]
 [ 0.77971394  0.12805305]
 [-0.30964085  0.6209365 ]
 [-1.00286662 -0.30684411]
 [ 0.18552042 -0.3648304 ]
 [ 2.06713324  2.12857999]
 [ 1.86906873 -1.26361786]
 [ 1.37390747 -0.91570013]
 [ 0.8787462   1.25878567]
 [ 1.47293972  2.12857999]
 [-0.30964085 -1.23462472]
 [ 1.96810099  0.91086794]
 [ 0.68068169 -0.71274813]
 [-1.49802789  0.35999821]
 [ 0.77971394 -1.3505973 ]
 [ 0.38358493 -0.13288524]
 [-1.00286662  0.41798449]
 [-0.01254409 -0.30684411]
 [-1.20093113  0.41798449]
 [-0.90383437 -1.20563157]
 [-0.11157634  0.04107362]
 [-1.59706014 -0.42281668]
 [ 0.97777845 -1.00267957]
 [ 1.07681071 -1.20563157]
 [-0.01254409 -0.13288524]
 [-1.10189888 -1.52455616]
 [ 0.77971394 -1.20563157]
 [ 0.97777845  2.07059371]
 [-1.20093113 -1.52455616]
 [-0.30964085  0.79489537]
 [ 0.08648817 -0.30684411]
 [-1.39899564 -1.23462472]
 [-0.60673761 -1.49556302]
 [ 0.77971394  0.53395707]
 [-0.30964085 -0.33583725]
 [ 1.77003648 -0.27785096]
 [ 0.8787462  -1.03167271]
 [ 0.18552042  0.07006676]
 [-0.60673761  0.8818748 ]
 [-1.89415691 -1.40858358]
 [-1.29996338  0.59194336]
 [-0.30964085  0.53395707]
 [-1.00286662 -1.089659  ]
 [ 1.17584296 -1.43757673]
 [ 0.18552042 -0.30684411]
 [ 1.17584296 -0.74174127]
 [-0.30964085  0.07006676]
 [ 0.18552042  2.09958685]
 [ 0.77971394 -1.089659  ]
 [ 0.08648817  0.04107362]
 [-1.79512465  0.12805305]
 [-0.90383437  0.1570462 ]
 [-0.70576986  0.18603934]
 [ 0.8787462  -1.29261101]
 [ 0.18552042 -0.24885782]
 [-0.4086731   1.22979253]
 [-0.01254409  0.30201192]
 [ 0.38358493  0.1570462 ]
 [ 0.8787462  -0.65476184]
 [ 0.08648817  0.1570462 ]
 [-1.89415691 -1.29261101]
 [-0.11157634  0.30201192]
 [-0.21060859 -0.27785096]
 [ 0.28455268 -0.50979612]
 [-0.21060859  1.6067034 ]
 [ 0.97777845 -1.17663843]
 [-0.21060859  1.63569655]
 [ 1.27487521  1.8676417 ]
 [-1.10189888 -0.3648304 ]
 [-0.01254409  0.04107362]
 [ 0.08648817 -0.24885782]
 [-1.59706014 -1.23462472]
 [-0.50770535 -0.27785096]
 [ 0.97777845  0.12805305]
 [ 1.96810099 -1.3505973 ]
 [ 1.47293972  0.07006676]
 [-0.60673761  1.37475825]
 [ 1.57197197  0.01208048]
 [-0.80480212  0.30201192]
 [ 1.96810099  0.73690908]
 [-1.20093113 -0.50979612]
 [ 0.68068169  0.27301877]
 [-1.39899564 -0.42281668]
 [ 0.18552042  0.1570462 ]
 [-0.50770535 -1.20563157]
 [ 0.58164944  2.01260742]
 [-1.59706014 -1.49556302]
 [-0.50770535 -0.53878926]
 [ 0.48261718  1.83864855]
 [-1.39899564 -1.089659  ]
 [ 0.77971394 -1.37959044]
 [-0.30964085 -0.42281668]
 [ 1.57197197  0.99784738]
 [ 0.97777845  1.43274454]
 [-0.30964085 -0.48080297]
 [-0.11157634  2.15757314]
 [-1.49802789 -0.1038921 ]
 [-0.11157634  1.95462113]
 [-0.70576986 -0.33583725]
 [-0.50770535 -0.8287207 ]
 [ 0.68068169 -1.37959044]
 [-0.80480212 -1.58254245]
 [-1.89415691 -1.46656987]
 [ 1.07681071  0.12805305]
 [ 0.08648817  1.51972397]
 [-0.30964085  0.09905991]
 [ 0.08648817  0.04107362]
 [-1.39899564 -1.3505973 ]
 [ 0.28455268  0.07006676]
 [-0.90383437  0.38899135]
 [ 1.57197197 -1.26361786]
 [-0.30964085 -0.74174127]
 [-0.11157634  0.1570462 ]
 [-0.90383437 -0.65476184]
 [-0.70576986 -0.04590581]
 [ 0.38358493 -0.45180983]
 [-0.80480212  1.89663484]
 [ 1.37390747  1.28777882]
 [ 1.17584296 -0.97368642]
 [ 1.77003648  1.83864855]
 [-0.90383437 -0.24885782]
 [-0.80480212  0.56295021]
 [-1.20093113 -1.5535493 ]
 [-0.50770535 -1.11865214]
 [ 0.28455268  0.07006676]
 [-0.21060859 -1.06066585]
 [ 1.67100423  1.6067034 ]
 [ 0.97777845  1.78066227]
 [ 0.28455268  0.04107362]
 [-0.80480212 -0.21986468]
 [-0.11157634  0.07006676]
 [ 0.28455268 -0.19087153]
 [ 1.96810099 -0.65476184]
 [-0.80480212  1.3457651 ]
 [-1.79512465 -0.59677555]
 [-0.11157634  0.12805305]
 [ 0.28455268 -0.30684411]
 [ 1.07681071  0.56295021]
 [-1.00286662  0.27301877]
 [ 1.47293972  0.35999821]
 [ 0.18552042 -0.3648304 ]
 [ 2.1661655  -1.03167271]
 [-0.30964085  1.11381995]
 [-1.6960924   0.07006676]
 [-0.01254409  0.04107362]
 [ 0.08648817  1.05583366]
 [-0.11157634 -0.3648304 ]
 [-1.20093113  0.07006676]
 [-0.30964085 -1.3505973 ]
 [ 1.57197197  1.11381995]
 [-0.80480212 -1.52455616]
 [ 0.08648817  1.8676417 ]
 [-0.90383437 -0.77073441]
 [-0.50770535 -0.77073441]
 [-0.30964085 -0.91570013]
 [ 0.28455268 -0.71274813]
 [ 0.28455268  0.07006676]
 [ 0.08648817  1.8676417 ]
 [-1.10189888  1.95462113]
 [-1.6960924  -1.5535493 ]
 [-1.20093113 -1.089659  ]
 [-0.70576986 -0.1038921 ]
 [ 0.08648817  0.09905991]
 [ 0.28455268  0.27301877]
 [ 0.8787462  -0.5677824 ]
 [ 0.28455268 -1.14764529]
 [-0.11157634  0.67892279]
 [ 2.1661655  -0.68375498]
 [-1.29996338 -1.37959044]
 [-1.00286662 -0.94469328]
 [-0.01254409 -0.42281668]
 [-0.21060859 -0.45180983]
 [-1.79512465 -0.97368642]
 [ 1.77003648  0.99784738]
 [ 0.18552042 -0.3648304 ]
 [ 0.38358493  1.11381995]
 [-1.79512465 -1.3505973 ]
 [ 0.18552042 -0.13288524]
 [ 0.8787462  -1.43757673]
 [-1.99318916  0.47597078]
 [-0.30964085  0.27301877]
 [ 1.86906873 -1.06066585]
 [-0.4086731   0.07006676]
 [ 1.07681071 -0.88670699]
 [-1.10189888 -1.11865214]
 [-1.89415691  0.01208048]
 [ 0.08648817  0.27301877]
 [-1.20093113  0.33100506]
 [-1.29996338  0.30201192]
 [-1.00286662  0.44697764]
 [ 1.67100423 -0.88670699]
 [ 1.17584296  0.53395707]
 [ 1.07681071  0.53395707]
 [ 1.37390747  2.331532  ]
 [-0.30964085 -0.13288524]
 [ 0.38358493 -0.45180983]
 [-0.4086731  -0.77073441]
 [-0.11157634 -0.50979612]
 [ 0.97777845 -1.14764529]
 [-0.90383437 -0.77073441]
 [-0.21060859 -0.50979612]
 [-1.10189888 -0.45180983]
 [-1.20093113  1.40375139]]

In [ ]:
#Variabes to calculate sigmoid function
y_pred = []                       ## to store the y predicted values
len_x = len(X_train[0])
w = []                            ## to store the weights 
b = 0.2      
# print(len_x)

In [ ]:
for weights in range(len_x):
    w.append(0)
w

[0, 0]

In [ ]:
# Sigmoid function
def sigmoid(z):
    return (1/(1+np.exp(-z)))

In [ ]:
def predict(inputs):
    z = np.dot(w,inputs)+b
    a = sigmoid(z)
    return a

In [ ]:
#Loss function
def loss_func(y,a):
    J = -(y*np.log(a) + (1-y)*np.log(1-a))
    return J

In [ ]:
dw = []            
db = 0
J = 0        
alpha = 0.1      #learning Rate 
for x in range(len_x):
    dw.append(0)

In [ ]:
#Repeating this process 1000 times
for iterations in range(1000):
    for i in range(entries):    #300 entries
        localx = X_train[i]
        a = predict(localx)   
        dz = a - y_train[i]
        J += loss_func(y_train[i],a)
        for j in range(len_x):
            dw[j] = dw[j]+(localx[j]*dz)
        db += dz
    J = J/entries
    db = db/entries
    for x in range(len_x):
        dw[x]=dw[x]/entries
    for x in range(len_x):
        w[x] = w[x]-(alpha*dw[x])
    b = b-(alpha*db)         
    J=0

In [ ]:
#Print weight
print(w)

[2.2255967816019226, 1.1912964838901263]

In [ ]:
#print intercept
print(b)

-0.9884403799043417

In [ ]:
#predicting the label
for x in range(len(y_test)):
    y_pred.append(predict(X_test[x]))

In [ ]:
#print actual and predicted values in a table
for x in range(len(y_pred)):
    print('Actual ',y_test[x],' Predicted ',y_pred[x])
    if y_pred[x]>=0.5:
        y_pred[x]=1
    else:
        y_pred[x]=0

Actual  0  Predicted  0.10173957901916296
Actual  0  Predicted  0.15541379063749383
Actual  0  Predicted  0.18384857241488903
Actual  0  Predicted  0.07912036262040134
Actual  0  Predicted  0.08675047649964047
Actual  0  Predicted  0.00574648949617734
Actual  0  Predicted  0.011606945684409618
Actual  1  Predicted  0.7527138746162638
Actual  0  Predicted  0.004155480041646165
Actual  0  Predicted  0.5122778145635105
Actual  0  Predicted  0.029582541150851217
Actual  0  Predicted  0.023565655543652676
Actual  0  Predicted  0.14925396310879835
Actual  0  Predicted  0.3682375639324936
Actual  0  Predicted  0.011930655455900694
Actual  0  Predicted  0.33157969678699456
Actual  0  Predicted  0.2727733662729687
Actual  0  Predicted  0.009270658193881204
Actual  1  Predicted  0.9919762917091707
Actual  0  Predicted  0.034855150097174305
Actual  0  Predicted  0.07888516516136876
Actual  1  Predicted  0.9717389761934756
Actual  0  Predicted  0.26953193911503476
Actual  1  Predicted  0.8993991143520303
Actual  0  Predicted  0.0031452519124772816
Actual  1  Predicted  0.9796636038887162
Actual  0  Predicted  0.06793473617392691
Actual  0  Predicted  0.06659401700023508
Actual  0  Predicted  0.1826212353969033
Actual  0  Predicted  0.14532218547783657
Actual  0  Predicted  0.01587266292628661
Actual  1  Predicted  0.2866893047189076
Actual  1  Predicted  0.9448177183907364
Actual  0  Predicted  0.14069334191102803
Actual  0  Predicted  0.0109639051276801
Actual  0  Predicted  0.0023954303463027894
Actual  0  Predicted  0.015542276488821631
Actual  0  Predicted  0.05645740171056945
Actual  0  Predicted  0.02213465316947959
Actual  1  Predicted  0.561722786663025
Actual  0  Predicted  0.05706955196298304
Actual  0  Predicted  0.2763860960136149
Actual  0  Predicted  0.050074126681004145
Actual  0  Predicted  0.0326045297622893
Actual  1  Predicted  0.8250174643885305
Actual  0  Predicted  0.02102271938438788
Actual  0  Predicted  0.29380428129257596
Actual  1  Predicted  0.9412824002823448
Actual  0  Predicted  0.006506572490054516
Actual  1  Predicted  0.8781608855448623
Actual  1  Predicted  0.9931850264765307
Actual  0  Predicted  0.031132823124684603
Actual  0  Predicted  0.10791695630578803
Actual  0  Predicted  0.41840703342215496
Actual  1  Predicted  0.9859123077586001
Actual  1  Predicted  0.3161278351396531
Actual  0  Predicted  0.07333139304478255
Actual  0  Predicted  0.03552171564117892
Actual  1  Predicted  0.49296081614099446
Actual  0  Predicted  0.002387718188382602
Actual  0  Predicted  0.015977730720195166
Actual  1  Predicted  0.9468417141436272
Actual  0  Predicted  0.0068105951479622276
Actual  1  Predicted  0.3914704905705284
Actual  0  Predicted  0.0012178941219179189
Actual  1  Predicted  0.9865598115862211
Actual  0  Predicted  0.031328420021407885
Actual  0  Predicted  0.02102271938438788
Actual  0  Predicted  0.2049625078870553
Actual  0  Predicted  0.46995036599948564
Actual  1  Predicted  0.6079616720402342
Actual  0  Predicted  0.19444085344971979
Actual  0  Predicted  0.00840709311494844
Actual  1  Predicted  0.24656471406186078
Actual  0  Predicted  0.05895689517162993
Actual  0  Predicted  0.0067220914561378076
Actual  0  Predicted  0.5474842955394206
Actual  0  Predicted  0.28770641400248975
Actual  1  Predicted  0.7428245699667234
Actual  1  Predicted  0.9054792256127866
Actual  1  Predicted  0.9974320295705272
Actual  0  Predicted  0.9833010376600336
Actual  0  Predicted  0.009895399977858014
Actual  0  Predicted  0.007723627940129944
Actual  1  Predicted  0.9089505969638616
Actual  1  Predicted  0.5560264161557731
Actual  0  Predicted  0.40408852633982956
Actual  1  Predicted  0.9966616077459093
Actual  1  Predicted  0.4401967508431139
Actual  0  Predicted  0.33489146647131973
Actual  0  Predicted  0.41882952621648034
Actual  1  Predicted  0.8025999210496174
Actual  0  Predicted  0.0062561004177693474
Actual  0  Predicted  0.005793535312887509
Actual  0  Predicted  0.026491126625933174
Actual  1  Predicted  0.0738906276361791
Actual  0  Predicted  0.010458454935853944
Actual  1  Predicted  0.48104226529411265
Actual  1  Predicted  0.8690835844193807
Actual  1  Predicted  0.7415417079385036

In [ ]:
# Calculating accuracy of prediction
count = 0
for x in range(len(y_pred)):
    if(y_pred[x]==y_test[x]):
        count=count+1
print('Accuracy:',(count/(len(y_pred)))*100)

Accuracy: 89.0

observation : Accuracy is 89%

In [ ]:
#Adding the code for confusion matrix which is the best model performace measure for Classification Algorithms
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[65  3]
 [ 8 24]]

Observation : incorrected pred values 11
              correct pred values  85

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logmodel = LogisticRegression()

In [ ]:
logmodel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
predections = logmodel.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
classification_report(y_test,predections)

'              precision    recall  f1-score   support\n\n           0       0.89      0.96      0.92        68\n           1       0.89      0.75      0.81        32\n\n    accuracy                           0.89       100\n   macro avg       0.89      0.85      0.87       100\nweighted avg       0.89      0.89      0.89       100\n'